[2019-01-07 15:39] mikeattara opened #2 "Setup linting"
I want to setup linting for the project so that, the format will be consistent.  FYA @aneagoie @MattCSmith @thisisabdus @anantankur
Should I go ahead?

[2019-01-07 15:43] aneagoie commented on #2
Absolutely. A great way to start off the project! Please go ahead with it.

[2019-01-07 15:59] Scramblelock opened #3 "Folder structure for components"
I would like to add some folder structure to the components section to make it a little more organized.

[2019-01-07 16:06] aneagoie commented on #3
100% a good idea. One of the first things to fix in this project. Please go ahead with it before we get too many PRs 👍

[2019-01-07 16:32] joe-ging opened #7 "How to join the discord channel?"
Seems I need something that starts with https?
![screen shot 2019-01-08 at 12 32 04 am](https://user-images.githubusercontent.com/23192885/50780029-deb4b280-12dc-11e9-8085-915a700b39d6.png)

[2019-01-07 16:37] aneagoie commented on #7
You need to go to lesson 3 of the Udemy course and click on the link there as the server is only for enrolled students

[2019-01-07 16:37] #7 closed

[2019-01-07 17:04] mikeattara commented on #2
@aneagoie What do you think about using airbnb style and setting up prettier?

[2019-01-07 17:36] aneagoie commented on #2
That is exactly what I like using on my project (or sometimes standard). I think that's a great choice moving forward. Perhaps 2 PRs? Start with prettier?

[2019-01-07 17:37] #3 closed

[2019-01-07 17:54] The24thDS opened #12 "NaN in "Love by Community""
I want to fix the NaN issue that appears when you change between the categories.

[2019-01-07 17:56] aneagoie commented on #12
Good thing to start on. Please go ahead with this :)

[2019-01-07 18:00] mikeattara commented on #2
Thanks, @aneagoie. I will close this issue now.

[2019-01-07 18:00] #2 closed

[2019-01-07 18:58] #12 closed

[2019-01-07 19:15] MattCSmith opened #18 "Travis Fails to build due to eslint package"
Hey @mikeattara,

Could you kindly take a look at the issue reported around line 467 here:
https://travis-ci.org/zeroDevs/coding_challenge-13/builds/476501379

What would be the best resolution for this?

Regards
Matt

[2019-01-07 19:37] dziukers opened #19 "for --> map or forEach inside dataExtractor function"
I would like to change for loop into map or forEach inside dataExstractor function.
1. If I remember correctly these methods are a little bit faster then looping.
2. It will look much clearer and simpler.

 What do you think?

[2019-01-07 19:44] mikeattara commented on #18
I have seen the problem solving it.

[2019-01-07 19:57] aneagoie commented on #19
the for loops is actually faster BUT, the code does look nicer with something like a map function. So go ahead with this. Sounds like a great idea!

[2019-01-07 22:12] arudovwen opened #23 "Add shadow property to the trend box/container"
i'd like to add shadow property to the trend box.

[2019-01-07 22:18] arudovwen commented on #23
and probably the navigation too, looks nicer with it

[2019-01-07 22:55] arudovwen commented on #23
i noticed the language nav overlapping between 573 and 769px breakpoint

[2019-01-08 09:19] GlynL opened #27 "npm start fails due to conflicting eslint packages"
package.json defines `eslint:  ^5.12` and this causes an error when npm start is run.
[code]
[code]

[2019-01-08 10:02] GlynL commented on #27
@mikeattara That's another solution. I'll leave it open, not sure whether it should be removed or updated.

[2019-01-08 11:15] arudovwen commented on #23
im not really good with travis, but it seems 1 commit passed and 2 failed, right?

[2019-01-08 12:16] MattCSmith commented on #18
Closing this, as issue has been resolved

[2019-01-08 12:16] #18 closed

[2019-01-08 12:21] MattCSmith commented on #23
Hey @arudovwen,
The Travis issue should now have been resolved. It was having issues with the version of eslint.

[2019-01-08 13:59] Vectormike40 opened #38 "Add anchor tags around the socials' icons"
How about I make the socials' icon clickable?

[2019-01-08 14:41] MattCSmith commented on #38
Sounds like a great idea @Vectormike40, cant wait to see this implemented :)

[2019-01-08 14:53] MattCSmith opened #40 "Add an active class to the sub nav items"
The sub nav items could use an active class, so it shows which tab is currently being displayed:
Something like this:
![image](https://user-images.githubusercontent.com/6190356/50838121-30008880-1355-11e9-9c86-6f81bdae37db.png)

[2019-01-08 15:00] mikeattara commented on #40
@MattCSmith add up-for-grabs label

[2019-01-08 19:47] #23 closed

[2019-01-08 20:41] The24thDS commented on #40
Implemented in #45

[2019-01-09 01:21] GlynL commented on #27
all good resolved.

[2019-01-09 01:21] #27 closed

[2019-01-09 01:54] GlynL opened #50 "legend not showing for chart"
According to docs this should be a string, will look into what is being passed currently and adjust.

[2019-01-09 02:04] GlynL opened #51 "bottom/top of chart cutting out"
configure chart to add padding

[2019-01-09 02:19] Pawelv9 opened #52 "Add a temporary scrollbar"
I have thoughts to add a temporary scrollbar attached to `body` tag instead of a standard scrollbar
Will be something like this
![screenshot 609](https://user-images.githubusercontent.com/15182822/50872047-f5d3cd00-13ce-11e9-8d46-35ff2ab9a911.png)

[2019-01-09 02:35] GlynL commented on #50
PR made #53

[2019-01-09 02:40] GlynL commented on #51
pr made #54

[2019-01-09 03:33] MattCSmith commented on #52
I like it 👍 Go ahead, implement it and make a PR :)

[2019-01-09 03:42] #52 closed

[2019-01-09 09:41] #38 closed

[2019-01-09 09:44] Vectormike40 opened #60 "Adding hover effects on anchor tags in footer component"
It's my first Open source contribution. Can I add hover effect in the footer component?

[2019-01-09 13:01] aneagoie commented on #40
Well done, closing this issue

[2019-01-09 13:01] #40 closed

[2019-01-09 13:05] aneagoie commented on #50
Nice job on this. I see it has been merged so closing issue

[2019-01-09 13:05] #50 closed

[2019-01-09 13:05] aneagoie commented on #60
Sounds like a great idea! I'm excited for your first contribution!

[2019-01-09 13:13] aneagoie opened #63 "New Logo"
A new cleaner logo for the website will be a great PR. We can also add this to the favicon as well.

[2019-01-09 14:33] MattCSmith commented on #60
Closing this issue, as it was addressed in PR https://github.com/zeroDevs/coding_challenge-13/pull/59/files

[2019-01-09 14:33] #60 closed

[2019-01-09 14:42] MattCSmith opened #64 "Centralise icons in "How we get our data" section"
These icons could probably use some vertical alignment so they are central in the box:
![image](https://user-images.githubusercontent.com/6190356/50906279-a916e300-141c-11e9-9f51-1584ef53b7ca.png)

[2019-01-09 14:46] MattCSmith opened #65 "Chart tool tips styles do not match"
The tooltip for the chart in the `how we get our data section` could probably use some adjusting so that it looks more like the one at the top of the page.

So from this:
![image](https://user-images.githubusercontent.com/6190356/50906546-44a85380-141d-11e9-9f63-999856b7715f.png)

To this:
![image](https://user-images.githubusercontent.com/6190356/50906603-5be74100-141d-11e9-867f-ca5574af678a.png)

[2019-01-09 14:54] MattCSmith opened #66 "Better checkbox allignment on smaller screens"
These checkbox could use some further styling to make them align nicer on smaller devices:
![image](https://user-images.githubusercontent.com/6190356/50907095-7241cc80-141e-11e9-9acc-0ac2303a2e37.png)

[2019-01-09 15:00] MattCSmith opened #67 "Chart size on smaller screens"
The chart in `data` section could use some further styling to make it just a little larger on smaller devices. So that its similar in size to the one in the `how we get out data` section.

Data Section:
![image](https://user-images.githubusercontent.com/6190356/50907334-001db780-141f-11e9-95bc-ea3f65470b13.png)

How we get our data section:
![image](https://user-images.githubusercontent.com/619035

[2019-01-09 15:00] The24thDS opened #68 "Newsletter"
Someone can set up the Newsletter form using MailChimp. 💌

[2019-01-09 15:16] MattCSmith commented on #68
Nice idea @The24thDS, However this form is already synced to Andrei's newletter platform :)

[2019-01-09 15:21] #68 closed

[2019-01-09 19:45] The24thDS commented on #63
How about something like this?
![annotation 2019-01-09 214327](https://user-images.githubusercontent.com/26633429/50924320-e9478700-1457-11e9-83ee-e953fd1e0567.jpg)

[2019-01-10 00:16] #64 closed

[2019-01-10 00:53] luxumbra commented on #66
I'd like to take this as my first contribution.

[2019-01-10 01:49] aneagoie commented on #66
Go for it @luxumbra :)

[2019-01-10 02:53] GlynL commented on #67
I've coincidentally worked on this by applying the legend on touch devices. #53

[2019-01-10 03:16] luxumbra commented on #65
I'll take this, if that's OK?

[2019-01-10 11:29] SHoar opened #77 "Data Contributor icon logos should be centered"
There is a lot of CSS going on so there is some figuring out. They are centered horizontally, now just need to do vertical centering.

[2019-01-10 12:21] #65 closed

[2019-01-10 12:21] aneagoie commented on #19
https://github.com/zeroDevs/coding_challenge-13/pull/74Closing this now since it got fixed with

[2019-01-10 12:22] #19 closed

[2019-01-10 12:22] #66 closed

[2019-01-10 12:22] #67 closed

[2019-01-10 12:23] aneagoie commented on #77
Looking forward to it!

[2019-01-10 12:45] SHoar commented on #77
Someone had a massive commit and took care of this already.

[2019-01-10 12:45] #77 closed

[2019-01-10 16:07] mortenkos commented on #63
What about this one? Colors are changeable. Please no pity and be honest :D
![fullstacktrendslogo](https://user-images.githubusercontent.com/25040343/50980713-09cc1b80-1502-11e9-8a77-46580c9c46bf.png)

[2019-01-10 17:54] aneagoie commented on #63
I think we should keep the color monotone (one color) to make it work visually. Maybe just a logo without the words (words can be on the side)

[2019-01-10 18:41] The24thDS commented on #63
This is what I have come up with.
Before scrolling the page:
![logo1](https://user-images.githubusercontent.com/26633429/50989270-9208eb80-1517-11e9-8927-8b539ad74c84.jpg)
When the page is scrolled:
![logo2](https://user-images.githubusercontent.com/26633429/50989327-b5cc3180-1517-11e9-89eb-8162cdffbb7b.jpg)

[2019-01-11 05:11] aneagoie opened #83 "Convert "Developer Love 4/5" into heart level."
This is an idea but you can get as creative as you want with it.
![image](https://user-images.githubusercontent.com/10776230/51014370-45cca400-1535-11e9-89da-c957dc7e8a7c.png)

[2019-01-11 11:19] The24thDS commented on #63
And this is the logo in the footer
![logo footer](https://user-images.githubusercontent.com/26633429/51030889-73e8cd00-15a3-11e9-86ce-53be3603bdf1.jpg)

[2019-01-11 12:30] The24thDS commented on #83
Done in #85

[2019-01-11 13:49] #83 closed

[2019-01-11 15:57] MattCSmith opened #86 "Contributions miscount bug"
The contribution count for Andrei, Ankur and myself dont seem to be correct any more:
![image](https://user-images.githubusercontent.com/6190356/51044473-152e4e00-15b9-11e9-8333-b97b8ba34022.png).

It should take the values from the github API and add them to the values hard coded. (which were taken from the previous repos contribution count).

[2019-01-11 17:36] aneagoie opened #87 "Add "Developer Love""
Add "Developer Love:" to the left of the hearts. Also, add a tooltip that when hovered over the hearts says:

"This is a score out of 5 based on developer opinion, community size, downloads, google searches, and satisfaction surveys, etc..."

[2019-01-12 14:04] mortenkos commented on #86
Nice, it seems to be working already :) can someone close the issue

[2019-01-12 16:53] aneagoie opened #94 "Icon sizes for "Where Do We Get Our Data" is too large."
On large screens, the icons are too big for their containers.

[2019-01-12 22:33] porschefish opened #99 "Newsletter signup button - Entering Email and clicking button just spins"

[2019-01-12 22:36] porschefish commented on #99
Operating System: Windows 10
Browser: Firefox 64.0.2 (64-bit)
Steps:
1. From the main page (https://zerodevs.github.io/coding_challenge-13/), scroll down to the "Get Monthly Email Report" section.
2. Enter your email.
3. Click the Subscribe button.
4. The button text changes to a spinning animation and never provides any feedback.

[2019-01-13 12:40] #87 closed

[2019-01-13 12:42] aneagoie opened #102 "Icons too large on mobile device"
On smaller screen sizes, the icons from "How We Collect Our Data" is too large

[2019-01-13 17:12] aneagoie commented on #63
I think the coloring should match the theme of the website. Green, just doesn't seem right don't you think?

[2019-01-13 17:17] aneagoie commented on #99
Here is how we can fix it... perhaps someone can do a PR for this @mikeattara or @porschefish :

[code]

[2019-01-13 18:21] The24thDS commented on #63
I took that color from palleton but I have to agree that it doesn't really fit. I changed the color to the ones of the buttons. What do you think about it now?
![logo](https://user-images.githubusercontent.com/26633429/51089122-c9bea000-1770-11e9-93e8-0e184a5cb0ff.jpg)

[2019-01-13 19:14] mikeattara commented on #99
@porschefish Kindly claim this.

[2019-01-13 19:17] rwbailey commented on #102
I've done a pull request for this bug.

[2019-01-14 00:13] porschefish commented on #99
Thanks @aneagoie @MattCSmith and @mikeattara,
I am still in the middle of section 13 (advanced Javascript) in the Zero to Mastery course, so my git skills are still very limited. I do recall a little bit of git from the end of section 8, but I bet I need to complete section 16 of the course before I can do much more than report bugs. I am fine if somebody else would like to take this one.
Thanks!

[2019-01-14 02:34] MattCSmith commented on #99
Closing, as this PR addresses this issue:
https://github.com/zeroDevs/coding_challenge-13/pull/107

[2019-01-14 03:13] MattCSmith commented on #99
This issue, does not appear to have been solved with PR: 107

[2019-01-14 09:05] MattCSmith commented on #102
Addressed in #105, closing

[2019-01-14 09:05] #102 closed

[2019-01-15 18:11] aneagoie commented on #63
Thoughts on this @MattCSmith ?

[2019-01-15 22:11] jeremyfox36 commented on #99
I tried moving the mailerlite script up to just before the closing head tag of index.html like Andrei suggested - it didn't work though :\
When you press the submit button, the error in the console says:
![image](https://user-images.githubusercontent.com/9820406/51213229-5d7ba200-1912-11e9-8a6e-1dc7d09d30f5.png)
I'll have another look at it tomorrow.

[2019-01-15 22:32] MattCSmith commented on #99
@jeremyfox36 Thanks for taking a look at this :)
Your screenshot actually helped me figure out the issue and I have the answer to fix it.
However, If you would like to solve it for your self, I will hold back on providing the answer?

[2019-01-16 09:32] gmagnenat opened #115 "Typo: PosrgreSQL should be PostgreSQL"
In the backend top 5 languages

[2019-01-16 10:01] MattCSmith commented on #115
Nice catch, are you going to make this change or is this 'up for grabs'?

[2019-01-16 10:04] gmagnenat commented on #115
this is up for grabs.

[2019-01-16 10:19] MattCSmith commented on #63
I like the icon, although If the text is to be part of the image, it could benefit from some styling.
Otherwise the text could be styled via CSS, which might be a better approach.

Im not sold on the color, as I feel it blends in a little. Perhaps the following may help:
- Arrow and brackets could be white (maybe with some transparency)
- Try adding a border around the stack (again maybe a slightl

[2019-01-16 10:49] The24thDS commented on #63
I got something like that. Also, the text is not part of the images.
![logo1](https://user-images.githubusercontent.com/26633429/51244205-21d1ee00-198d-11e9-8308-259fcf6d116f.jpg)

[2019-01-16 11:07] MattCSmith commented on #63
I feel that works a little better, although if I'm honest I still feel it blends a little to much.
I wonder if either:
- The border should be thicker or less transparent or both
- We should find a different color, that still matches the theme

Another option might be to make the nav bar permanently white (eg. No on-scroll). What does it look like when with the scrolled navbar?

[2019-01-16 11:13] jeremyfox36 commented on #99
@MattCSmith no worries, but I'd like to try and solve this one please.  I won't leave you hanging too long though so I'll spend an hour on it this evening and then admit defeat (I'm on UK time by the way).

[2019-01-16 12:07] leighd2008 commented on #115
I created a pull request to fix this typo

[2019-01-16 13:12] aneagoie opened #117 "Create Meta Tags for social platforms"
Use this tool to generate tags that you will add to index.html file: https://megatags.co

[2019-01-16 13:12] MattCSmith commented on #115
Closing as this was fixed in PR #116

[2019-01-16 13:12] #115 closed

[2019-01-16 13:14] MattCSmith commented on #99
@jeremyfox36 Awesome, its no problem at all, take your time. Let me know if you need a hint or any help :)

[2019-01-16 13:20] otanriverdi commented on #99
@jeremyfox36 Although I am not entirely sure, I may have a solution. Let me know if you need help and we can work on it together through discord.

[2019-01-16 14:59] The24thDS commented on #63
I have come up with this solution @MattCSmith, I think it looks better
(This is with a logo-size of 65)
![image](https://user-images.githubusercontent.com/26633429/51257047-71c1ac80-19af-11e9-8e9e-e303259dc798.png)
This is how it looks when the page is scrolled: (I have also changed the size from 40 to 50 here)
![image](https://user-images.githubusercontent.com/26633429/51257232-d67d0700-19af-11e9

[2019-01-16 15:10] The24thDS opened #118 "Representation of small data on the chart"
I propose that we rethink our approach on how the chart is handling these very small numbers. Currently is very hard to see the pie pieces. Maybe we should adjust the scale dynamically 🤔
![image](https://user-images.githubusercontent.com/26633429/51258020-9d459680-19b1-11e9-8c49-1db6c93fcd16.png)

[2019-01-16 15:23] leighd2008 opened #119 "Warning: Each child in an array or iterator should have a unique "key" prop. in App.js"

[2019-01-16 15:37] leighd2008 commented on #118
@The24thDS I agree, are you working on this, or is it up for grabs?

[2019-01-16 15:38] The24thDS commented on #118
I am not currently working on it :) It's free to fix 😄

[2019-01-16 20:41] MattCSmith commented on #118
Sounds like a great idea :)
Are you taken this up @leighd2008

[2019-01-16 20:43] MattCSmith commented on #63
I think that looks a lot better. What do you think @aneagoie ?

[2019-01-16 20:54] bbaqui25 opened #122 "Add a scroll back to top of the page button"

[2019-01-16 20:57] MattCSmith commented on #122
@bbaqui25 Sounds like a fantastic idea 👍
Did you want to take this up, or is this up for grabs?

[2019-01-16 21:00] bbaqui25 commented on #122
I can do it. Since this is my first open source project, I cannot find css file.

[2019-01-16 21:14] MattCSmith commented on #122
Perfect!

Since this is a React app, the main portion of the app's code is located in the `src` directory. You are most likely going to want to make the changes to the `App.css` file:
https://github.com/zeroDevs/coding_challenge-13/tree/master/src/App.css

Don't hesitate to shout if you need anything :)

[2019-01-16 21:18] bbaqui25 commented on #122
Okay, thanks!

[2019-01-16 22:47] #117 closed

[2019-01-16 23:05] MattCSmith commented on #99
@jeremyfox36 As Mike mentioned in your PR, this actually made the form disappear. There is a pretty simple fix for this also, if you wanted to take that on?

[2019-01-17 07:49] jeremyfox36 commented on #99
Ok - cool. I noticed that about the form, but the problem seemed intermittent and the form came back when I refreshed the page. I’ll have another go today.

[2019-01-17 13:46] MattCSmith opened #125 "Developer Love Hearts Animation"
Perhaps we could add slight animation to the love hearts in both sections.
Perhaps a pulsing Mexican wave style animation?

[2019-01-17 13:53] MattCSmith opened #126 "Zero to Mastery Course Modal"
Perhaps it might be an idea to add a modal to the `Zero to Mastery` link in the `Brought to you by:` section in the footer.

This would just be a small modal, with similar styling to the contributors modal, that has a brief description of the course/community, with a link to the Udemy course. Maybe even a link to all 3 course?

[2019-01-17 13:58] MattCSmith opened #127 "Update Fonts"
Maybe we can take a look at using/changing some fonts in the project.
Making sure they are clean, crisp and easy to read.

Please add screenshots of all the fonts you change in your PR, so its easier to suggest any changes before merging.

[2019-01-17 14:02] MattCSmith opened #128 "Nav buttons adjustment"
Perhaps we could try and give the navbar buttons the same transparent background color the nav tabs have, and see how it looks:

![image](https://user-images.githubusercontent.com/6190356/51323560-772aff80-1a60-11e9-8189-ca608ba7f783.png)

[2019-01-17 14:02] aneagoie commented on #63
Looks much better. Could we maybe play around with the font to make it look more appealing? What do you all think?

[2019-01-17 14:04] aneagoie commented on #118
Just a heads up that we also want to do it in a way that the scale adjusts in an obvious way so that it's easy to compare job demand between the categories.

[2019-01-17 14:06] MattCSmith opened #129 "Dynamic chart title"
Lets make the chart title more descriptive, by dynamically changing it based on what tab the user has selected:

![image](https://user-images.githubusercontent.com/6190356/51323759-f6203800-1a60-11e9-9f75-1b9bef596a22.png)

They should read:

- Top 5 Web Technologies
- Top 5 Mobile Technologies
- Top 5 Programming Languages
- Top 5 Backend Technologies

[2019-01-17 14:16] MattCSmith opened #130 "Tooltip typo"
![image](https://user-images.githubusercontent.com/6190356/51324315-4b107e00-1a62-11e9-9372-14e6d9b7e4a8.png)

google should be Google

[2019-01-17 15:12] MattCSmith commented on #63
@aneagoie I thought the same thing earlier in the issue. The text wont be apart of the logo, from what I understand. This will be added and styled in the HTML/CSS, I think?

[2019-01-17 16:43] luxumbra commented on #128
Hi Matt, I'd worry that the lack of contrast on these buttons would be detrimental to a11y - I feel that the pink of the text in the current nav buttons is too close to some of the background.  I don't know what others think?

[2019-01-17 16:47] luxumbra commented on #129
I'd be happy to look at this.

[2019-01-17 17:57] The24thDS commented on #63
Yes. The text is not an image. It can be styled using CSS, no problem.

Pe 17 ian. 2019, la 17:12, Matt Smith <notifications@github.com<mailto:notifications@github.com>> a scris:

@aneagoie<https://github.com/aneagoie> I thought the same thing earlier in the issue. The text wont be apart of the logo, from what I understand. This will be added and styled in the HTML/CSS, I think?

—
You are receivi

[2019-01-17 20:00] leighd2008 commented on #118
I will take this one on, I feel it is pushing the limits of what I know how to do.

[2019-01-17 22:20] mikeattara opened #132 "Consider all-contributors specification for this project"
I wish to suggest we consider all-contributors specification for the maintenance of this project. You can read more about it [here](https://github.com/all-contributors/all-contributors).

I have not done it before but would try my hands on that if the team accept this proposal.

[2019-01-17 22:21] mikeattara commented on #132
@aneagoie @MattCSmith FYA

[2019-01-17 22:49] aneagoie commented on #132
I think this is a great idea. Would love to see you implement this. What do you think @MattCSmith ?

[2019-01-17 23:39] MattCSmith commented on #132
I agree would love to see this implemented.

Reading the documentation, I would suggest creating a contributors file, rather than doing so in the ReadMe.

Another option might also be to expand up the contributors modal, from the footer link?

[2019-01-17 23:51] MattCSmith commented on #128
This is a good point. Do you think making the background of the button more white would solve that problem?

[2019-01-17 23:59] MattCSmith commented on #99
Closing as this was fixed

[2019-01-17 23:59] #99 closed

[2019-01-18 02:11] peacethekuma commented on #125
I think that will be nice, I would love to do it. :relaxed:

[2019-01-18 17:31] rahmot commented on #63
Hi guys, check this out.
[content://media/external/file/94046](url)

[2019-01-18 17:49] marcosandri-dev commented on #63
I would remove another laptop from the logo. If not all of them; the < arrow > thing is already very powerful, I read it as "trends in web development" and the important thing I think is "trends", not the full-stack which is anyway explained in the product name!
Like this is feels... bloated, and I don't know much about web design and marketing, but I know that what I feel is always very important

[2019-01-18 18:14] ChristinaRepou commented on #63
What about something like this? Thank you!
![logo](https://user-images.githubusercontent.com/42965573/51404988-b428ec00-1b5d-11e9-872e-ab002e35ba00.png)

[2019-01-18 18:17] rahmot commented on #63
Hi guys, please check this out
![full stack3](https://user-images.githubusercontent.com/39836912/51405073-99527980-1b55-11e9-9035-5bf196d867e7.jpg)

[2019-01-18 18:22] ChristinaRepou commented on #63
What about something like this?
![logo](https://user-images.githubusercontent.com/42965573/51405357-ceaf9500-1b5e-11e9-88e3-1f0f9b73229e.png)

[2019-01-18 18:37] marcosandri-dev commented on #118
Just a maybe stupid question - why this has not the "assigned" like other issues?

[2019-01-18 19:04] The24thDS commented on #130
@MattCSmith this can be closed

[2019-01-18 19:17] The24thDS commented on #63
@ChristinaRepou That actually looks cool but I don't know how much of what is on the screen will be visible at the dimensions of the logo.

[2019-01-18 19:37] rahmot commented on #63
Please check out this concept.
![full stack4](https://user-images.githubusercontent.com/39836912/51409005-db34ed00-1b60-11e9-9c9d-de76bf55f6f3.jpg)

[2019-01-18 21:00] ChristinaRepou commented on #63
There is also this design!
![fullstack trends logo](https://user-images.githubusercontent.com/42965573/51412555-987d1000-1b74-11e9-8844-880673e2bdf9.png)

[2019-01-18 21:34] phillpeters commented on #128
Based on your comments, I made a small change.  Changing the text color of the nav buttons to red as @Dromediansk suggested increases the contrast of the text against the background, but is also consistent with the nav tabs.  In my opinion this looks slightly better than adding the semi-transparent white background.
![screenshot from 2019-01-18 14-33-52](https://user-images.githubusercontent.com/3

[2019-01-18 22:18] aneagoie commented on #63
Some great examples here. Can everyone give a 👍 to the one you like best?

[2019-01-18 22:22] aneagoie opened #137 "Icons not centered on small screen."
<img width="373" alt="screen shot 2019-01-18 at 4 21 06 pm" src="https://user-images.githubusercontent.com/10776230/51415949-394fd900-1b3d-11e9-9586-80d1edd2725a.png">

[2019-01-18 22:39] MattCSmith commented on #63
Wow this issue exploded this evening and they are all pretty awesome.

I do agree though that some may suffer from scaling to the actual size of the logo/favicon. But some tweaks could be made to accommodate that perhaps.

@ChristinaRepou @rahmot @The24thDS Could you confirm the origins of the designs. Ie are these completely hand-made, created by a logo creator or heavily inspired by another logo

[2019-01-18 22:42] MattCSmith commented on #118
@marcosandri-dev This is something I spent about an hour trying to achieve before realising that you can only assign issues to either `members` of the organisation or the person whom opened the issue. At least from what I could figure out, Im not sure why its limited to this though :(

[2019-01-18 22:43] The24thDS commented on #63
@MattCSmith Of course. Fully made by me using Adobe Illustrator. But a laptop is still a laptop so you can't design it very differently 🤣

[2019-01-18 22:44] MattCSmith commented on #125
Closing as this has been implemented

[2019-01-18 22:44] #125 closed

[2019-01-18 22:50] MattCSmith commented on #128
Hmm I'm undecided now on whether the `newsletter` and `data` buttons should have a transparent background.

What do you think @aneagoie ?

[2019-01-18 22:51] #130 closed

[2019-01-19 00:10] ChristinaRepou commented on #63
Also mine have been made by me with another programme (canva).

[2019-01-19 12:33] #137 closed

[2019-01-19 12:34] aneagoie commented on #128
I agree with @phillpeters 👍

[2019-01-19 12:35] aneagoie commented on #126
This feature is done correct?

[2019-01-19 13:15] ChristinaRepou commented on #63
@MattCSmith there is not a problem with my designs too although I made them with canva.

[2019-01-19 13:31] marcosandri-dev commented on #63
I like @The24thDS logo without the other laptops actually but I cannot vote it since it's not in the list :P

[2019-01-19 13:52] marcosandri-dev opened #139 "Refactoring scroll function from index.html to app component"
I have noticed a portion of code into <scripts> in the index.html file.

While I think it doesn't create performances issues, I think it's more consistent to put this behaviour in the main react component which if I have not understood wrong appears to be app.js, right?

What do you think, should I proceed or it is there for a precise reason?

[2019-01-19 19:19] The24thDS commented on #63
One laptop logo:
![image](https://user-images.githubusercontent.com/26633429/51431315-d854fd80-1c2f-11e9-9cac-ceca2ceec22b.png)
![image](https://user-images.githubusercontent.com/26633429/51431317-e3a82900-1c2f-11e9-88d3-e5343b6a8d20.png)
![image](https://user-images.githubusercontent.com/26633429/51431320-eacf3700-1c2f-11e9-99a8-346295281341.png)
In my opinion it doesn't look that good.

[2019-01-19 19:20] The24thDS commented on #63
Two laptops logo:
![image](https://user-images.githubusercontent.com/26633429/51431328-05a1ab80-1c30-11e9-92a9-771a26052f9b.png)
![image](https://user-images.githubusercontent.com/26633429/51431331-0a665f80-1c30-11e9-8cdb-350c856e2d91.png)
![image](https://user-images.githubusercontent.com/26633429/51431336-13573100-1c30-11e9-9276-add6fadfef18.png)

[2019-01-20 00:02] Feythelus opened #142 "Logo pops out when navbar toggled and resized"
If you resize the window and toggle the navbar but then resize again without toggling again, the logo pops out and stays out until resized again and popped back in. (first issue ever so I hope this is good!) :)

![logofloatsifresized](https://user-images.githubusercontent.com/30155412/51433616-77afcb80-1c03-11e9-8abe-53207aa00026.png)
![navbarexpand](https://user-images.githubusercontent.com/30155

[2019-01-20 00:07] Feythelus commented on #142
I've cloned it and built it in npm and I think was able to fix it by collapsing the logo with the navbar and putting a margin-left:auto on the nav toggler to keep it to the right.

![logopartofnav](https://user-images.githubusercontent.com/30155412/51433646-4be11580-1c04-11e9-87e9-c2e593f20b2e.png)
![logostaysinandcomesout](https://user-images.githubusercontent.com/30155412/51433647-4be11580-1c04-

[2019-01-20 16:56] leighd2008 commented on #118
I made the scale of the Polar chart dynamic for better Representation of small data . I'm not sure how to make the change in scale more obvious, I'm open to suggestions.

[2019-01-21 10:52] MattCSmith commented on #142
Looks like a good fix @Feythelus, I have merged this 👍

[2019-01-21 10:52] #142 closed

[2019-01-21 10:53] MattCSmith commented on #128
Closing as this has been resolved!

[2019-01-21 10:53] #128 closed

[2019-01-21 10:57] MattCSmith commented on #126
Nope, this is still up for grabs.

I was thinking it would be cool that when you click on `Zero To Mastery` in the footer, rather than going straight to Udemy it would open a modal.
This modal would have a brief description on what ZTM is about and then perhaps three cards about each course thats available.

[2019-01-21 10:58] MattCSmith commented on #122
How is this going @bbaqui25 ?

[2019-01-21 11:02] MattCSmith commented on #118
@The24thDS Do you think the recent changes have fixed this?

[2019-01-21 11:09] MattCSmith commented on #63
Hi @rahmot, No problem.

How ever I do not think we will be able to use the triangular one. As cool as it is, its listed as a logo created by a logo maker website?

![image](https://user-images.githubusercontent.com/6190356/51470838-efe5d080-1d6c-11e9-922e-aa76e3a0d9f0.png)

[2019-01-21 11:12] MattCSmith commented on #139
@marcosandri-dev Go ahead and make this change :)

[2019-01-21 12:50] aneagoie commented on #63
@rahmot HI! Would you be able to create a logo like the above from scratch so we can us it?

[2019-01-21 12:53] aneagoie commented on #118
Hi, I think we should revert this change and keep the scale static as it is hard to see the relative difference between the technologies without a static scale.

[2019-01-21 13:03] rahmot commented on #63
Hi @aneagoie which of the logo are you referring to because there are so many logos above. Thanks

[2019-01-21 13:11] leighd2008 commented on #118
I agree with @aneagoie. Does anyone know if it is possible to add a zoom feature (like on a map) to the Polar chart?

[2019-01-21 13:40] The24thDS commented on #118
Can we keep the scale static but adjust it so the smaller values are more visible?

[2019-01-21 13:57] MattCSmith commented on #63
@rahmot My concern here, is that if we used that logo (the triangular one)  we would either need to purchase the license or credit them.
Apart from a change in colors and fonts/text the logo's are identical. If we proceed without doing either purchasing the license or crediting them, we could face repercussions.

[2019-01-21 15:26] rahmot commented on #63
@MattCSmith I am not insisting on us using the triangular logo, a new logo can be designed. Guys check this out
![full stack65](https://user-images.githubusercontent.com/39836912/51483377-37825180-1d99-11e9-9693-e38a17654903.jpg)

[2019-01-21 15:43] marcosandri-dev commented on #63
@The24thDS you're right, 2 laptops is better!

[2019-01-21 16:43] rahmot commented on #63
![full stack45](https://user-images.githubusercontent.com/39836912/51487675-e9268000-1da3-11e9-8d50-c9f1ddf3c90f.jpg)

![full stack567](https://user-images.githubusercontent.com/39836912/51487550-be3c2c00-1da3-11e9-86f3-9defa51d1b4f.jpg)

![full stack43](https://user-images.githubusercontent.com/39836912/51487743-13783d80-1da4-11e9-9643-63cf0f46144d.jpg)

[2019-01-21 18:09] marcosandri-dev commented on #139
Urr - I think I've done it!

[2019-01-21 21:08] #119 closed

[2019-01-21 21:10] MattCSmith commented on #129
Hows this going @luxumbra?

[2019-01-21 21:10] MattCSmith commented on #132
How's this going @mikeattara?

[2019-01-22 03:58] jvdsouza commented on #126
If this is still up for grabs, I'm happy to take this on to do tomorrow.

[2019-01-22 08:05] MattCSmith commented on #126
Sure its all yours @jvdsouza :)

[2019-01-22 08:14] MattCSmith commented on #132
No problem, I was following up to check on the state of some of the older issues. Did you still want to do this, or did you want me to put it `up for grabs`?

[2019-01-22 08:17] MattCSmith commented on #127
@mikeattara I do not have a particular font in mind, open to suggestions

[2019-01-22 13:04] aneagoie commented on #63
Some really great ideas here. Can we all vote on the ones that we like by the end of day today? It would be nice to have this implemented. If we can't come up with a favourite in the next 2 days, @MattCSmith and I will just pick one, but it would be nice if the community got to decide.

[2019-01-22 13:42] leighd2008 commented on #118
I'm not sure what you mean by that, the scale will have to change to make the smaller values more visible??

[2019-01-22 17:40] mikeattara commented on #132
Kindly put the `up for grabs` tag for the main time...
I have to resolve some family issues for the time being. Thanks @MattCSmith

[2019-01-22 17:47] mikeattara commented on #127
Do you mind we use a monospace font?
I recommend `Roboto mono` which is accessible on Google fonts

[2019-01-22 19:41] mortenkos commented on #63
My vote goes for the Rahmot's last logo

[2019-01-22 19:45] MattCSmith commented on #127
@mikeattara Sure that works for me

[2019-01-22 19:47] MattCSmith commented on #132
No problem @mikeattara, hope everything works out for you

[2019-01-22 21:38] mikeattara commented on #127
@MattCSmith I tried adding Roboto mono as the default font in PR #146
Kindly review and let me know what you think.

[2019-01-22 21:50] The24thDS commented on #118
For the moment I think the best course of action here is to revert to the initial static scale as @aneagoie suggested.

[2019-01-22 22:04] MattCSmith commented on #127
@mikeattara I like it, it looks great.
Although perhaps there are a couple of things that need to be adjusted. But they could become thier own issue unless you want to address them.

1 - The developer love tool tip has no padding, and is looking pretty large. I dont remember it looking like this before, so its possible this didnt have much to do with the font change.

2 - There are some left over

[2019-01-23 11:17] MattCSmith opened #149 "Typo/Gramma needs correcting in the footer"
The last comma in the list should be replaced with `and`:
![image](https://user-images.githubusercontent.com/6190356/51602999-62d38080-1f00-11e9-93b1-79ef0c6ff4db.png)

In the [Index file](https://github.com/zeroDevs/coding_challenge-13/blob/master/public/index.html) the comma should be replaced (as above) and also `backen` should be corrected to `backend` :)

[2019-01-23 14:20] MattCSmith commented on #149
Closing as fixed in #150

[2019-01-23 14:20] #149 closed

[2019-01-23 14:22] MattCSmith commented on #122
Re-opening as closed in error

@otanriverdi Feel free to take up this issue :)

[2019-01-24 12:52] #118 closed

[2019-01-24 17:07] The24thDS opened #153 "Cross-browser checkbox alignment"
The current solution for aligning the checkboxes doesn't work in Edge. Maybe someone can implement a cross-browser one.
![image](https://user-images.githubusercontent.com/26633429/51695171-1032bb00-200b-11e9-8bab-c31a75417a89.png)

[2019-01-24 20:20] mortenkos commented on #153
I can do that :)

[2019-01-25 10:07] MattCSmith commented on #153
@mortenkos Nice job on fixing this issue, although I have just noticed we have lost the nice formatting for smaller screens.

Instead of looking like this:
![image](https://user-images.githubusercontent.com/6190356/51739212-d3a5a480-2088-11e9-8059-0d1072d74095.png)

It now looks like this:
![image](https://user-images.githubusercontent.com/6190356/51739250-eae49200-2088-11e9-95b3-2acb2b3f320d.png)

[2019-01-25 10:09] MattCSmith commented on #126
Hey @jvdsouza, How is this going?

[2019-01-25 10:10] MattCSmith commented on #122
Hey @otanriverdi Are you working on this issue, or should I put it back into the to-do pile?

[2019-01-25 10:11] MattCSmith commented on #129
Closing as solved in #155

[2019-01-25 10:11] #129 closed

[2019-01-25 10:17] MattCSmith commented on #127
Closing as addressed in #146 and #152, I'll take a look at making a few small tweaks as mentioned in #152

[2019-01-25 10:17] #127 closed

[2019-01-25 10:17] jvdsouza commented on #126
Hi @MattCSmith things have gotten a bit busy over the last couple of days but I've made sure to set time aside to get this done tomorrow. I've set myself up with some resources so I should be able to have it done within the next 2 days at most.

[2019-01-25 10:22] MattCSmith opened #156 "Bug in the contributions count"
Each time you click on one of the technologies tabs (Web, mobile, languages and backend), the contributions count gets increased.

![image](https://user-images.githubusercontent.com/6190356/51739951-aeb23100-208a-11e9-8995-9b19f3441fe4.png)

[2019-01-25 12:19] AkinAguda opened #157 "Drop Down on mobile Glitch when scroll event is triggered"
When user scrolls down on mobile, and the hamburger icon is clicked, the drop down displays the button the the white background shows later (without transition)

[2019-01-25 12:45] The24thDS commented on #153
A simple media query should handle that

[2019-01-25 13:01] MattCSmith commented on #126
Hey @jvdsouza No problem at all, was just checking in really, as I know how busy things can get sometimes :)

[2019-01-25 13:03] aneagoie commented on #63
Ok, it looks like we have a clear winner based on the votes on Discord. @rahmot do you want to go ahead and add the logo, or would you like to pass this on to somebody else? (including updating the favicon)

[2019-01-25 13:19] mortenkos commented on #153
I will fix that 😊

[2019-01-25 18:57] The24thDS commented on #156
I think @MattCSmith hacked the contributions 😆

[2019-01-25 20:32] mortenkos commented on #156
It updates contributions count every time it rerenders. Hardcoded contribution counts are added each time. I'm trying to figure out the best fix for this bug :)) Any help? :)

[2019-01-25 20:39] The24thDS commented on #156
You could try using `React.memo`
[React v16.6](https://reactjs.org/blog/2018/10/23/react-v-16-6.html)

[2019-01-25 20:51] mortenkos commented on #156
@The24thDS Thanks, React.memo() works perfectly I was going to implement shouldComponentUpdate() , but thanks for that tip :)

[2019-01-25 20:52] The24thDS commented on #156
Nice 👍

[2019-01-25 20:52] MattCSmith commented on #156
@mortenkos Can you tell me what Andrei's count is with your new code?

[2019-01-25 20:55] mortenkos commented on #156
@MattCSmith Andrei's count is 93

[2019-01-25 20:55] mortenkos commented on #156
@MattCSmith and yours 115

[2019-01-25 20:56] MattCSmith commented on #156
Ok perfect, I noticed a slight issue that even on first load the count was incorrect.
I came up with another pretty simple solution, which I will share just for another option of what could have been done :), Although it could have done with some refactoring:

![image](https://user-images.githubusercontent.com/6190356/51772372-beaa2f00-20e3-11e9-8bcb-e41c3570ec44.png)

[2019-01-25 20:58] MattCSmith commented on #156
But 93 and 115 is the correct count, so all is good :)

[2019-01-25 20:59] mortenkos commented on #156
It was wrong on the first load because of state update and rerender after onscroll function

[2019-01-25 21:16] MattCSmith commented on #156
Ah yeah that would make sense.

Going to close this now its been resolved in #159

[2019-01-25 21:16] #156 closed

[2019-01-25 21:18] MattCSmith commented on #153
Closing as this was resolved in #158

[2019-01-25 21:18] #153 closed

[2019-01-25 21:30] rahmot commented on #63
@aneagoie I will be glad to go ahead with the logo. Thanks

[2019-01-25 22:25] The24thDS opened #162 "Developer Love description box misaligned"
Seems to be present only here:
![image](https://user-images.githubusercontent.com/26633429/51776094-911fae80-2100-11e9-8124-e603772baa25.png)

[2019-01-25 22:25] The24thDS opened #163 "Button component"
We could benefit from a new Button component to use inside `Navigation.js`

[2019-01-25 22:34] rahmot commented on #63
Please, someone should help me out. How will I add it? Thanks

[2019-01-25 22:57] luxumbra commented on #129
@MattCSmith I started looking in to it and got stuck and I've been on a mission with job hunting this week. Sorry! I'm going to pick it up again this evening.

[2019-01-25 23:12] MattCSmith commented on #132
mikeattara, thanks for all of your hard work, in general coding, bug fixes, questions, PR reviews, ideas and anything I may have missed 🤔 let's add mikeattara for his contributions @allcontributors[bot]

[2019-01-25 23:14] MattCSmith commented on #132
mikeattara, thanks for all of your hard work, in general coding, bug fixes, questions, PR reviews, ideas and anything I may have missed 🤔 let's add @mikeattara for his contributions. cc @allcontributors[bot]

[2019-01-25 23:31] The24thDS commented on #157
@allcontributors[bot] add @AkinAguda for bug

[2019-01-25 23:39] The24thDS commented on #132
@allcontributors add @The24thDS for code

[2019-01-25 23:44] jakebolam commented on #157
Hey @The24thDS thanks for all the usage on the bot ;) This has been super insightful into helping the community improve the bot.

The issue you're seeing here is https://github.com/all-contributors/all-contributors-bot/issues/16.

We're working on this one, and should have a fix out soon!

[2019-01-25 23:46] luxumbra commented on #129
Apologies for the poor communication on my part.

[2019-01-25 23:48] jakebolam commented on #132
Thanks for the support!

@all-contributors add @The24thDS for code

^ Request above was missing the dash, I've ticked this here to add support, cc @The24thDS. https://github.com/all-contributors/all-contributors-bot/issues/99

The failures above where related to: https://github.com/all-contributors/all-contributors-bot/issues/16
We will get a fix for this out ASAP.

[2019-01-25 23:48] jakebolam commented on #132
@all-contributors add @The24thDS for code

[2019-01-25 23:51] The24thDS commented on #132
Thank you @jakebolam 😄

[2019-01-25 23:52] MattCSmith commented on #132
Thanks for stopping by and helping us out with this @jakebolam. Fantastic support 👍

[2019-01-26 00:06] The24thDS commented on #132
@all-contributors please add @AkinAguda for bug

[2019-01-26 09:13] mikeattara commented on #132
@allcontributors[bot] add @jakebolam for support

[2019-01-26 11:31] mikeattara commented on #132
@all-contributors please add @jakebolam for answers

[2019-01-26 11:35] mikeattara commented on #132
@all-contributors please add @jakebolam for answers

[2019-01-26 11:37] mikeattara commented on #132
@The24thDS Kindly merge #174 when ready and let's see if it works

[2019-01-26 11:37] The24thDS commented on #132
Sure thing 😸

[2019-01-26 12:03] mortenkos commented on #162
I have a solution for this :)

[2019-01-26 13:05] leighd2008 commented on #122
I'll take a stab at this one.

[2019-01-26 14:42] MattCSmith commented on #162
Closing as solved in #176

[2019-01-26 14:42] #162 closed

[2019-01-26 15:58] The24thDS commented on #132
That would be `question` but I think I broke the bot by manually modifying `.all-contributossrc`

[2019-01-26 17:50] The24thDS commented on #163
Closing. Addressed in #173

[2019-01-26 17:50] #163 closed

[2019-01-26 18:39] jakebolam commented on #132
@MattCSmith just got online here. Mind giving me us a few hours to see if we can make it easier for existing projects? (Going to document it too)

[2019-01-26 18:40] luxumbra opened #180 "toggler icon and logo display issue."
The toggler icon markup has changed and now the icon displays irregular heights (probably down to the 1.5px height on the lines) and the icon is now rectangular.
![screenshot from 2019-01-26 15-00-20](https://user-images.githubusercontent.com/780350/51791373-dfcd5700-2199-11e9-8536-db01c03a6659.png)
![screenshot from 2019-01-26 14-59-44](https://user-images.githubusercontent.com/780350/51791374-df

[2019-01-26 18:44] jakebolam commented on #132
Have put up a PR to fix your rc file: https://github.com/zeroDevs/coding_challenge-13/pull/181

[2019-01-26 18:47] jakebolam commented on #119
The bot is having trouble with an invalid schema in the RC file, I've put up a PR to fix it: https://github.com/zeroDevs/coding_challenge-13/pull/181

Also going to improve the error message from the bot: https://github.com/all-contributors/all-contributors-bot/issues/102

[2019-01-26 18:49] The24thDS commented on #180
Thank you for your keen eye 👀
@all-contributors please add @luxumbra for bug

[2019-01-26 19:57] The24thDS opened #184 "Developer Love - Data Sources: Description Box Misaligned"
![image](https://user-images.githubusercontent.com/26633429/51792098-5b88cd00-21b5-11e9-896b-f022dbefc010.png)

[2019-01-26 20:00] The24thDS commented on #180
@all-contributors please add @luxumbra for bug

[2019-01-26 20:01] luxumbra commented on #180
Thanks @The24thDS :) I'm working on this now.

[2019-01-26 20:10] The24thDS opened #186 "Remove the bot from contributors"
The bot that we use for adding contributors is currently showing as a contributor

![image](https://user-images.githubusercontent.com/26633429/51792251-27aea700-21b7-11e9-92cb-fa2fb9ae3220.png)
Someone can tweak with the contributors component in order to not include the bot

[2019-01-26 21:37] mikeattara commented on #132
@allcontributors[bot] please add @mikeattara for infra

[2019-01-26 22:09] luxumbra opened #191 "Toolbox creates horizontal scroll bars"
The toolbox controls don't resize when the browser is resized and thus create horizontal scroll bars.
![screenshot from 2019-01-26 20-12-17](https://user-images.githubusercontent.com/780350/51793356-19f92180-21b7-11e9-9e1e-e7303fb9a06e.png)

[2019-01-26 22:13] The24thDS commented on #191
As far as I know, @mortenkos is currently working on this 😄

[2019-01-26 22:14] The24thDS commented on #180
Closing. This has been resolved.

[2019-01-26 22:14] #180 closed

[2019-01-26 22:17] luxumbra commented on #191
@The24thDS Ah ok. @mortenkos has beaten me to it ;) Does that make this a duplicate issue?

[2019-01-26 22:19] luxumbra commented on #157
@jakebolam The bot is a really cool addition.

[2019-01-26 22:41] MattCSmith commented on #132
No problem at all @jakebolam, that would be fantastic 👍

[2019-01-26 22:52] MattCSmith commented on #191
What do you guys think about this for the toolbox?

Click `Launch demo modal sideout small`
https://bootsnipp.com/snippets/7ngvl

[2019-01-26 23:02] The24thDS commented on #191
That would be fantastic @MattCSmith

[2019-01-26 23:34] MattCSmith commented on #191
Ill create an issue for it, so someone can grab it

[2019-01-26 23:36] MattCSmith opened #192 "Slide out modal for the chart toolbox"
Create a slide out modal for the chart toolbox, as demonstrated here:
Click Launch demo modal sideout small
https://bootsnipp.com/snippets/7ngvl

here is the chat toolbox:
![image](https://user-images.githubusercontent.com/6190356/51794091-3602c000-21c3-11e9-891e-d23a5fd4e430.png)

[2019-01-27 00:19] MattCSmith commented on #126
Closing addressed in #193

[2019-01-27 00:19] #126 closed

[2019-01-27 02:48] mikeattara commented on #186
This issue has been resolved #194

[2019-01-27 08:45] #186 closed

[2019-01-27 09:00] mortenkos commented on #192
Great idea guys :)
I was thinking something like this:
![screenshot from 2019-01-27 10-56-51](https://user-images.githubusercontent.com/25040343/51798909-a8ef5380-2222-11e9-95a7-28e8b4278934.png)

[2019-01-27 20:09] luxumbra commented on #157
I've been looking at this but haven't yet been able to sort it out.

[2019-01-27 20:35] MattCSmith commented on #192
@mortenkos I like this also 👍
Ive you have the code for this, go ahead and make a PR :)

[2019-01-27 20:36] MattCSmith commented on #191
@mortenkos Is this something you are working on?

[2019-01-27 20:47] mortenkos commented on #192
@MattCSmith  I have some adjustments to do and probably going to make PR tomorrow or at latest Tuesday. And it will be responsive

[2019-01-27 20:50] mortenkos commented on #191
@MattCSmith Yes I am :)

[2019-01-28 11:41] rahmot commented on #63
Good day @MattCSmith please, I don't understand what fork and clone the repo is all about. I'm a complete beginner in web development. I tried to Google search but the explanation wasn't clear. Please break it down and I will the instructions obediently. Thanks

[2019-01-28 17:54] Dromediansk opened #199 "SourceChart - value '16' of scale is overlapped"
![image](https://user-images.githubusercontent.com/34217538/51855243-1091c580-232d-11e9-97cb-9f7686d0c451.png)

I've noticed weird overlapping of number '16' in SourceChart component, which doesn't look pretty. I tried to adjust `padding `of  the component or `h3 `above it, but it didn't work.
Has anyone suggestion, how could it be solved?

[2019-01-28 18:24] MattCSmith commented on #122
Closing as implemented in #198

[2019-01-28 18:24] #122 closed

[2019-01-28 18:40] MattCSmith commented on #157
@luxumbra I've taken a look at this issue. The issue appears to be because there are two instances of the `collapse.show` css class.

I was able to get the transition to work by moving the `display: block` into the first instance:
![image](https://user-images.githubusercontent.com/6190356/51858175-f3a8c280-232b-11e9-9ed3-0ec061b60bb1.png)

I would also recommend maybe making the background pure wh

[2019-01-28 18:43] MattCSmith commented on #157
My comment about making the background pure white., looks like a strange one looking at my screenshot 😆 But looking at it, the navbar seems to change to various shades of white (Depending on scroll), this probably needs fixing

[2019-01-28 19:04] MattCSmith commented on #199
I dont appear to see this issue, does this happen of every chart/source?

[2019-01-28 19:22] MattCSmith opened #200 "Deadline is 24 Hours"
# The Time Has Come!

Unfortunately the end of the month is approaching and a deadline needs to be set for finish of this project.  We are looking to freeze the project in approximately 24 hours or so. This will enable us to check the code thoroughly and fix anything that may need fixing ready for it to be listed on producthunt.com

If you could confirm if a PR for the issue you are working on is

[2019-01-28 19:32] The24thDS commented on #192
Let's try and add a magnifying glass instead of the Zoom words and also get the minus sign properly rotated @mortenkos

[2019-01-28 19:35] MattCSmith commented on #157
Hey @luxumbra, As the deadline is approaching (see #200) Im checking the status of each issue. Are you still thinking of fixing this issue?
Regards
Matt

[2019-01-28 19:37] MattCSmith commented on #184
Hey @luxumbra,
As with the other issue just checking in on the status of this issue, with the upcoming deadline (see #200) is mind :)

Feel free to let me know if you need anything

[2019-01-28 19:40] luxumbra commented on #157
Hi @MattCSmith, I would like to fix it. I was planning to work on it this evening but I don't mind if someone else wants to take it on.

The navbar has some transparency which is what I think is giving the effect of changing shades. I'll make it solid white.

[2019-01-28 19:45] MattCSmith commented on #191
Hey @mortenkos,
Just making my rounds to let everyone know of the deadline (see #200 )
Let me know if you need anything to get this issue close 😄

[2019-01-28 19:47] MattCSmith commented on #192
I like this idea 👍

@mortenkos, Just incase you miss my comment on the other issue:
[code]

[2019-01-28 19:51] MattCSmith commented on #157
Hey @luxumbra,
Your good to proceed :) I just wanted to ensure everyone knew about the deadline, so we can push the final thing to producthunt.

On closer inspection the navbar is transparent, which I kinda like (although I'm happy with solid white too) But when you click the hamburger, it changes to solid white.

So one or the other needs changing I guess :D

[2019-01-28 19:58] luxumbra commented on #157
Cool, I'll make it all the same alpha and get on with this shortly.

[2019-01-28 20:44] mikeattara commented on #132
I am ok with the state so far

[2019-01-28 21:13] The24thDS commented on #191
Good job on this one 👍

[2019-01-28 21:13] #191 closed

[2019-01-28 21:31] The24thDS commented on #184
Opps, I might have done this in #204 My bad

[2019-01-28 22:08] The24thDS commented on #192
We can close this now.

[2019-01-28 22:08] #192 closed

[2019-01-28 22:08] #184 closed

[2019-01-28 23:32] MattCSmith commented on #132
Oh there is alot more in the readme than I thought. We are still a little short though.
I feel this either needs to be complete or removed though. We cant recognise half of the contributors there but no the other half.

I'll see if I can get some time to add some more

[2019-01-28 23:58] mikeattara commented on #132
I will also try and add some more tomorrow

[2019-01-29 03:13] peacethekuma opened #209 "Small devices layout"
![clip](https://user-images.githubusercontent.com/37570898/51881530-8c842000-23b6-11e9-98a6-b5c00f7ee7f4.PNG)
I think layout in small device needs a fix, I am working on this :laughing:

[2019-01-29 05:49] danielyeoda commented on #199
PR is created. Do check it. Thank you

[2019-01-29 11:06] The24thDS commented on #209
@all-contributors please add @peacethekuma for bug

[2019-01-29 11:08] The24thDS commented on #199
@all-contributors please add @Dromediansk for bug

[2019-01-29 11:09] The24thDS commented on #157
Closing as this has been fixed.

[2019-01-29 11:09] #157 closed

[2019-01-29 11:11] The24thDS commented on #192
@all-contributors please add @mortenkos for ideas

[2019-01-29 11:14] The24thDS commented on #163
@all-contributors please add @The24thDS for ideas

[2019-01-29 11:17] The24thDS commented on #156
@all-contributors please add @The24thDS for question

[2019-01-29 11:20] The24thDS commented on #128
@all-contributors add @Dromediansk for question

[2019-01-29 11:22] The24thDS commented on #128
@all-contributors add @phillpeters for question, code and ideas

[2019-01-29 11:22] The24thDS commented on #128
@all-contributors add @luxumbra for ideas

[2019-01-29 11:24] The24thDS commented on #126
@all-contributors add @jvdsouza for code

[2019-01-29 11:26] The24thDS commented on #119
@all-contributors add @leighd2008 for bug

[2019-01-29 11:32] The24thDS commented on #115
@all-contributors add @gmagnenat for bug

[2019-01-29 11:34] The24thDS commented on #102
@all-contributors add @rwbailey for code

[2019-01-29 11:36] The24thDS commented on #99
@all-contributors add @jeremyfox36 for code

[2019-01-29 11:36] The24thDS commented on #99
@all-contributors add @aneagoie for question

[2019-01-29 11:38] The24thDS commented on #99
@all-contributors add @porschefish for bug

[2019-01-29 11:40] The24thDS commented on #77
@all-contributors add @SHoar for bug

[2019-01-29 11:45] The24thDS commented on #60
@all-contributors add @Vectormike40 for code, ideas

[2019-01-29 11:46] The24thDS commented on #52
@all-contributors add @Pawelv9 for ideas

[2019-01-29 11:47] The24thDS commented on #51
@all-contributors add @GlynL for bug

[2019-01-29 11:52] The24thDS commented on #23
@all-contributors add @arudovwen for ideas

[2019-01-29 11:53] The24thDS commented on #19
@all-contributors add @dziukers for ideas

[2019-01-29 11:56] The24thDS commented on #3
@all-contributors add @Scramblelock for ideas

[2019-01-29 12:58] The24thDS commented on #132
@all-contributors add @aneagoie for infra

[2019-01-29 12:59] The24thDS commented on #132
@all-contributors add @MattCSmith for infra

[2019-01-29 13:01] The24thDS commented on #132
We're up to date with the contributors' list.

[2019-01-29 16:55] The24thDS commented on #209
Addressed this in #257

[2019-01-29 16:59] #199 closed

[2019-01-29 16:59] The24thDS commented on #199
Addressed in #211

[2019-01-29 18:22] mortenkos commented on #200
@MattCSmith  are all the bugs removed or need some help with anything?

[2019-01-29 19:19] mikeattara commented on #132
Good job @The24thDS
You are awesome

[2019-01-29 21:00] MattCSmith commented on #132
Closing as fully implemented

[2019-01-29 21:00] #132 closed

[2019-01-29 21:02] MattCSmith commented on #200
I think we are pretty much upto date thanks @mortenkos

[2019-01-29 21:17] MattCSmith commented on #209
Closing as addressed in #257

[2019-01-29 21:17] #209 closed

[2019-01-30 10:14] mortenkos commented on #200
In case you haven't noticed this bug in mobile view. @MattCSmith  @The24thDS  @mikeattara
Let's make it perfect before ProductHunt :)

![screenshot_20190130-120835](https://user-images.githubusercontent.com/25040343/51974299-4f885e00-2488-11e9-90ff-8ab4f688a55b.png)
![screenshot_20190130-120819](https://user-images.githubusercontent.com/25040343/51974308-53b47b80-2488-11e9-8ca7-bf05d6418ac2.png)

[2019-01-30 11:55] The24thDS commented on #200
Should be addressed in #260

[2019-01-31 06:53] mikeattara commented on #200
@MattCSmith Hope the project will be launched on Producthunt today.

[2019-01-31 11:08] rahmot commented on #200
Hi @MattCSmith I'm sorry this is coming late. Thanks for the pdf document, it really helps. I have working on it but was having network problem. Currently, I'm on it but git status is displaying "permission denied". please help. Thanks

[2019-01-31 11:31] MattCSmith commented on #200
Hey @rahmot,
I would guess the problem you are having is because your not pushing to your fork, instead I would imagine you are try to push to the main repo. You can confirm this by running: `git remote -v`

IF the result returns two links that do not contain your github username, you will need to change this, before proceeding. Assuming your using https authentication the command you will need to

[2019-01-31 11:36] rahmot commented on #200
@MattCSmith Okay, Thanks

[2019-01-31 11:49] rahmot commented on #200
@MattCSmith
The "git remote -v" displayed two links that contained my username with "fetch" and "push" in front of each respectively.

I entered git status but still displayed "permission denied".

Thanks

[2019-01-31 12:13] MattCSmith commented on #200
@rahmot Hey, did you configure your github credentials?
https://help.github.com/articles/setting-your-commit-email-address-in-git/

[2019-01-31 15:46] mortenkos commented on #200
One thing that doesn't look nice on mobile, if you open the menu and scroll. menu background disappears.  @aneagoie

![screenshot_20190131-173910](https://user-images.githubusercontent.com/25040343/52065717-c5bbbc00-257f-11e9-8c04-c393ba56c1ff.png)
![screenshot_20190131-174054](https://user-images.githubusercontent.com/25040343/52065728-ca807000-257f-11e9-9cf3-b7053aae7bb3.png)

[2019-02-02 13:16] aneagoie commented on #200
Found a little bug. If anyone wants to fix it, it is fairly simple: The bottom logo "Full Stack Trends" returns a 404 when you click on it.

[2019-02-02 19:55] mikeattara commented on #200
@aneagoie I tried fixing the bug #263

[2019-02-03 13:38] aneagoie commented on #200
@mikeattara well done!

Ok, a bit of an issue.  I just deployed the latest to fullstacktrends.com

It looks like the zoom feature isn't working. Does anybody want to take a stab at it, or know if this feature was working fine before?

By the way we are releasing this tomorrow to producthunt!

[2020-11-21 16:01] #200 closed